html {
	--radius: 24px;
	--margin: 16px;
	--mobileThreshold: 640px;
	--blur: blur(8px);
}

body {
	font-size: 16px;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;

	&.primary {
		color: var(--accent);
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

@import './layout';
@import './ui';
