._button {
	border: none;
	background: var(--buttonBg);
	border: 1px solid var(--accent);
	color: var(--accent);
	font-weight: bold;
	font-size: 1em;
	padding: 8px 16px;
	border-radius: var(--radius);
	text-decoration: none;
	cursor: pointer;

	&:disabled {
		pointer-events: none;
		color: var(--fg);
		opacity: 0.5;
	}

	&:not(:disabled):hover {
		background: var(--buttonHoverBg);
	}

	&:not(:disabled):active {
		background: var(--buttonHoverBg);
	}

	&.primary {
		color: white;
		background: var(--accent);

		&:not(:disabled):hover {
			background: var(--X8);
		}
	
		&:not(:disabled):active {
			background: var(--X9);
		}
	}

	&.danger {
		color: white;
		background: #f44336;

		&:not(:disabled):hover {
			background: #b71c1c;
		}
	
		&:not(:disabled):active {
			background: #b71c1c;
		}
	}

	&.command {
		display: inline-block;
		background: transparent;
		border: none;
		padding: 4px;
		color: inherit;
		min-width: 32px;
		min-height: 32px;
		border-radius: 100%;

		&:not(:disabled):hover {
			background: var(--buttonHoverBg);
		}

		&:not(:disabled):active {
			background: var(--buttonHoverBg);
		}

		&.danger {
			color: #ef5350;
		}

		&.primary {
			background: var(--accent);
			color: white;

			&:not(:disabled):hover {
				background: var(--X8);
			}
		
			&:not(:disabled):active {
				background: var(--X9);
			}
		}

		&.active {
			color: var(--accent);
		}
	}

	&.static {
		border: none;
		background: transparent;
		text-align: left;
		border-radius: 0;
		border-bottom: 1px solid var(--divider);
		color: var(--fg);

		&:not(:disabled):hover {
			background: var(--buttonHoverBg);
		}

		&:not(:disabled):active {
			background: var(--buttonHoverBg);
		}

		&.danger {
			color: #ef5350;
		}

		&.primary {
			color: var(--accent);
		}
	}
}

._label {
	font-size: 0.7em;
	opacity: 0.6;
}

input, textarea {
	font-size: 1rem;
	background: transparent;
	color: var(--fg);
	border: 2px solid var(--inputBorder);
	border-radius: var(--radius);
	padding: calc(var(--margin) / 2) var(--margin);

	&::placeholder {
		color: var(--fg);
		opacity: 0.5;
	}
}
