block vars

doctype html

!= '\n<!-- Thank you for using Groundpolis! @Xeltica -->\n'

html(style="--bg: #222222; --fg: white")

	head
		meta(charset='utf-8')
		meta(name='application-name' content='Groundpolis')
		meta(name='referrer' content='origin')
		meta(name='theme-color' content='#86b300')
		meta(name='theme-color-orig' content='#86b300')
		meta(property='og:site_name' content= instanceName || 'Groundpolis')
		meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
		link(rel='icon' href= icon || '/favicon.ico')
		link(rel='apple-touch-icon' href= icon || '/apple-touch-icon.png')
		link(rel='manifest' href='/manifest.json')
		meta(name='fe' content=fe)

		title
			block title
				= title || 'Groundpolis'

		block desc
			meta(name='description' content= desc || '✨🌎✨ A federated blogging platform ✨🚀✨')

		block meta

		block og
			meta(property='og:image' content=img)

		style
			include ../style.css

	body
		div(style="position: absolute;inset: 0;display: flex;flex-direction: column;align-items: center;justify-content: center;")
			img(src=icon || "/assets/icon_transparent.svg" style="width: 64px; border-radius: 12px")
			#splash
				noscript
					| Please enable JavaScript

		script
			include ../boot.js
				
		block content
