._com.header {
	display: flex;
	align-items: center;

	font-weight: bold;
	font-size: 1.2em;

	> [data-icon] {
		margin-right: 8px;
	}

	> .avatar {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		margin-right: 16px;
	}
}
