._com.note {
	width: 100%;
	> *:not(:last-child) {
		margin-bottom: 16px;
	}
	> .renoted-by {
		color: var(--renote);
		display: flex;
		align-items: center;
		font-weight: bold;

		> .avatar {
			width: 2em;
			height: 2em;
			border-radius: 100%;
			margin-right: 8px;
		}
		> [data-icon] {
			margin-right: 8px;
		}
	}
	> .body {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 60px 1fr;
		gap: var(--margin);
		> .avatar > img {
			width: 60px;
			height: 60px;
			border-radius: 100%;
		}
		> .right {
			overflow: auto;
			> header {
				display: flex;
				align-items: center;
				> .name {
					font-weight: bold;
				}
				> .acct {
					margin-left: 8px;
					opacity: 0.8;
				}
				> .name, > .acct, > .time {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

				}
				> .admin {
					color: var(--badge);
					margin-left: 8px;
				}
				> .verified {
					color: var(--accent);
					margin-left: 8px;
				}
				> .premium {
					color: var(--premium);
					margin-left: 8px;
				}
				> .time {
					margin-left: auto;
					opacity: 0.8;
				}
				> .visibility {
					margin-left: 8px;
				}
			}
			> .content {
				> .cw-button {
					border: none;
					background: var(--cwBg);
					color: var(--cwFg);
					padding: 4px 8px;
					font-size: 14px;
					border-radius: 16px;
					cursor: pointer;
					outline: none;
					&:not(:disabled):hover {
						background: var(--cwHoverBg);
					}
				}
			}
			> .reactions {
					margin-top: 8px;
				> .reaction {
					display: inline-block;
					background: transparent;
					border: none;
					padding: 4px 8px;
					color: inherit;
					height: 36px;
					border-radius: 18px;

					&.primary {
						color: white;
						background: var(--accent);
						&:hover {
							background: var(--X8);
						}
						&:active {
							background: var(--X9);
						}
					}
				}
			}
			> .commands {
				margin-top: 8px;
				> .command {
					font-weight: normal;
					> .count {
						margin-left: 8px;
					}
					&:not(:first-child) {
						margin-left: 24px;
					}
				}
			}
		}
	}
}
