._com.shell {
	--sidebarSize: 256px;

	@media screen and (max-width: 640px) {
		--sidebarSize: 0px;
	}

	> .header {
		display: flex;
		position: fixed;
		left: var(--sidebarSize);
		top: 0;
		right: 0;
		height: 64px;
		padding: 0 var(--margin);
		background: var(--header);
		backdrop-filter:  var(--blur);
		-webkit-backdrop-filter:  var(--blur);
		border-bottom: 1px solid var(--divider);
		align-items: center;
		z-index: 20;

		> .left {

		}
		> .center {
			margin-left: auto;
			margin-right: auto;
		}
		> .right {
			
		}
	}

	> .backdrop {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 21;
		transition: all 0.2s ease;
		&.open {
			background: rgba(black, 0.5);
			backdrop-filter: var(--blur);
			-webkit-backdrop-filter: var(--blur);
			pointer-events: all;
		}
	}

	> .sidebar {
		position: fixed;
		left: 0;
		top: 0;
		width: 256px;
		bottom: 0;
		overflow: auto;

		@media screen and (max-width: 640px) {
			transition: left 0.2s ease;
			left: -256px;

			&.open {
				left: 0;
			}
		}

		display: block;

		background: var(--panel);
		border-right: 1px solid var(--divider);
		z-index: 22;
		padding: var(--margin);

		> .toggler {
			position: absolute;
			right: 16px;
			top: 16px;
			color: var(--accent);
			z-index: 23;
		}

		> .divider {
			width: 100%;
			height: 1px;
			background: var(--divider);
			margin: var(--margin) 0;
		}

		> .item {
			display: flex;
			width: 100%;
			height: 48px;
			border-radius: var(--radius);
			text-decoration: none;
			justify-content: left;
			align-items: center;
			padding: 0 16px;
			font-weight: normal;

			&.disabled, &:disabled {
				pointer-events: none;
				opacity: 0.5;
			}

			> [data-icon] {
				margin-right: var(--margin);
				font-size: 20px;
			}

			> .label {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			> .avatar {
				width: 32px;
				height: 32px;
				border-radius: 100%;
				margin-right: var(--margin);
			}

			&:not(.disabled):hover {
				background: var(--buttonHoverBg);
			}

			&:not(.disabled).active {
				color: var(--accent);
			}
		}
	}

	> .content {
		margin-top: 64px;
		margin-left: var(--sidebarSize);
	}
}
