._com.window {
	position: relative;
	max-width: 640px;
	width: 100%;
	> .title {
		> h1 {
			font-size: 1rem;
			margin-left: calc(48px - var(--margin));
			margin-top: 1px;
			> [data-icon] {
				margin-right: 16px;
			}
		}
	}
	> .back {
		position: absolute;
		left: var(--margin);
		top: var(--margin);
	}
}

.window-enter {
	opacity: 0;
	transform: translateY(64px);
}
.window-enter-active {
  opacity: 1;
	transform: translateY(0);
  transition: all 300ms ease;
}
.window-exit {
  opacity: 1;
}
.window-exit-active {
  opacity: 0;
	transform: translateY(64px);
  transition: all 300ms ease;
}
