._page.welcome {
	max-width: 1280px;
	margin: 64px auto;

	.title {
		display: flex;
		padding: 0 16px;
		> .icon {
			font-size: 36px;
			fill: var(--fg);
		}
		> .name {
			font-size: 24px;
			margin-left: 8px;
		}
	}
	> footer {
		margin-top: var(--margin);
	}
}

