@charset 'utf-8'

/*
	::selection
		background var(--primary)
		color #fff
*/

@font-face {
	font-family ColorEmoji
	src local('Noto Color Emoji'), local('Segoe UI Emoji')
	unicode-range U+203C, U+20E3, U+2409, U+2130-27FF, U+2900-2BFF, U+303D, U+3297, U+3299, U+1F000-1F9FF
}

*
	position relative
	box-sizing border-box
	background-clip padding-box !important
	tap-highlight-color transparent
	-webkit-tap-highlight-color transparent

html, body
	margin 0
	padding 0
	scroll-behavior smooth
	text-size-adjust 100%
	font-family ColorEmoji, Roboto, HelveticaNeue, Arial, sans-serif

html.changing-theme
	&, *
		transition background 1s ease !important

a
	text-decoration none
	color var(--link)
	cursor pointer

	&:hover
		text-decoration underline

	*
		cursor pointer

@css {
	a {
		tap-highlight-color: var(--linkTapHighlight) !important;
		-webkit-tap-highlight-color: var(--linkTapHighlight) !important;
	}
}
